apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: podinfo-helm
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://stefanprodan.github.io/podinfo'
    chart: podinfo
    targetRevision: 6.0.0
    helm:
      values: |
        replicaCount: 1
        ingress:
          enabled: true
          hosts:
            - host: podinfo-helm.example.com
              paths:
                - path: /
                  pathType: ImplementationSpecific
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
